.css-wsp0cs-MultiValueGeneric,
.css-12a83d4-MultiValueRemove {
  background-color: white;
}

.css-13cymwt-control {
  /* padding: 10px, 14px, 10px, 14px; */
  border: 1px solid #d0d5dd;
  border-radius: 0.5rem;
  box-shadow: rgba(16, 24, 40, 0.05);
}
.css-13cymwt-control:hover,
.css-13cymwt-control:focus {
  border: 1px solid #d0d5dd !important;
  border-radius: 0.5rem !important;
}
.css-tj5bde-Svg {
  fill: #d0d5dd !important;
}
.css-1u9des2-indicatorSeparator,
.css-1xc3v61-indicatorContainer {
  display: none !important;
}
.css-1p3m7a8-multiValue {
  border: 1px solid #d0d5dd;
  border-radius: 4px !important;
}
.css-inmdiq5-menu{
  display: block !important;
  opacity: 1;
} 